/* //@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap'); */

.admins-section__container{
   min-width: 100%;
   min-height: 600px;
   /* justify-content: space-around !important;
   align-items: space-around !important; */
   align-items: center;
   justify-content: center;
}

.admins__primary{
   width: 600px;
}

.admins__moders{
   width: 850px;
}

.admins__avatar{
   width: 210px;
   align-self: center;
   transition-duration: 0.3s;
}

.admins__position{
   font-size: 1.35em;
}