@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap');

.btn-danger{
   background-color: #a30000;
   border-color: #c60000;
}

.blurred{
   filter: blur(2px);
}

.btn-danger:hover{
   background-color: #9b0000;
}

.custom_success_btn{
   background: #11998e;  /* fallback for old browsers */
   background: -webkit-linear-gradient(to right, #26a757, #00a108);  /* Chrome 10-25, Safari 5.1-6 */
   background: linear-gradient(to right,  #26a757, #00a108); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.custom_success_btn:hover{
   background: #00F260;  /* fallback for old browsers */
   background: -webkit-linear-gradient(to left, #04af4b, #01be4d);  /* Chrome 10-25, Safari 5.1-6 */
   background: linear-gradient(to left, #04af4b, #01be4d); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

h1{
   font-size: 3em;
   text-transform: uppercase;
   font-family: 'Comfortaa', sans-serif;
   font-weight: 300 !important;
   color: black
}

h2{
   font-size: 2em;
   padding: 5px;
   text-transform: uppercase;
   font-family: 'Comfortaa', sans-serif;
   font-weight: 300 !important;

}

h3{
   font-size: 1.3em;
   padding: 5px;
   text-transform: uppercase;
   font-family: 'Comfortaa', sans-serif;
   font-weight: 300 !important;

}

h4{
   font-family: 'Comfortaa', sans-serif;
   font-weight: 300 !important;
}

body::-webkit-scrollbar {
   width: 7px; 
}
body::-webkit-scrollbar-track {
   background: transparent; 
}
body::-webkit-scrollbar-thumb {
   background-color: #c60000;
   border-radius: 20px;
   max-height: 50px !important;
}

.splitter{
   width: 100%;
   height: 40px;
   background-color: #131313;
   margin-top: 70px;
   display: flex;
   justify-content: center;
}

.splitter__clip{
   width: 90%;
   height: 100px;
   background-color: white;
   clip-path: polygon(0 0, 100% 0, 90% 50%, 10% 50%);
}

.btn-price{
   font-family: 'Comfortaa', sans-serif;
   font-weight: 300;
}

.switch-on, .switch-off{
   font-family: 'Comfortaa', sans-serif;
   font-weight: 300;
   font-size: 1.5em;
   display: flex;
   justify-content: center;
   align-items: center;
}

.participating{
   color: #61c753;
}

.btn-primary{
   background-color: #0555ab !important;
}

.mr-50px{
   margin-right: 50px !important;
}

h5{
   font-family: 'Comfortaa', sans-serif;
}

.custom-input--transparent{
   /* background-color: #00000000 !important; */
   /* color: white !important; */
   font-family: 'Roboto', sans-serif;
   font-weight: 300;
}

.discount__badge{
   width: 58px;
   height: 40px;
   font-size: 1.3em !important;
   background-color: #cc4343;
   display: flex;
   align-items: center;
   justify-content: center;
   color: white;
   clip-path: polygon(20% 0, 100% 0, 100% 100%, 20% 100%, 0 50%);
}

.pl-60px{
   padding-left: 60px !important;
}
