@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.btn-danger{
   background-color: #c60000;
   border-color: #c60000;
}

.btn-danger:hover{
   background-color: #9b0000;
}