.keys-share__icon{
   /* background-image: 
   linear-gradient(rgba(19, 19, 19, 0.7), rgba(19,19,19,0.7)),
   url("../img/key_share.svg"); */
   width: 300px !important;
   height: 300px !important;
}

.keys-generation__container{
   height: 550px;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: space-around;
}

.keys__buttons{
   margin-top: -52px;
   width: 90%;
   height: 350px;
   position: absolute;
   z-index: 100;
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   align-items: center;
}

.gen__btn{
   margin: 5px;
   flex-shrink: unset;
   flex-grow: unset;
   width: 183px !important;
   height: 130px;
   border-color: rgb(94, 15, 184) !important;
   padding: 0 !important;
   background-size: 100% 100%;
}

.gen__btn:hover{
   border-color: rgb(165, 14, 97) !important;
}