#personal-page .personal-page__header, #personal-page .modal-body, #personal-page .modal-footer{
   background-color: rgb(19, 19, 19);
   color: white;
}

#personal-page .personal-page__header{
   display: flex;
   align-items: center;
   height: 20px;
   border-bottom: 1px solid rgb(27, 27, 27);
   color: rgb(161, 161, 161);
}

#personal-page .modal-footer{
   border-top: 1px solid rgb(27, 27, 27);
}

#personal-page .personal-page__header span{
   color: white;
}

#personal-page .navbar-nav{
   flex-direction: row;
   justify-content: space-around;
   width: 520px;
}

#personal-page .nav-link.active{
   background-color: #c60000;
   padding-left: 2px;
   padding-right: 2px;
}

#personal-page .nav-link.active:hover{
   background-color: #920000;
   color: white !important;
}

#personal-page .tab-pane{
   margin-top: 10px;
}

.giveaway__main-content .peronal-page__icon{
   width: 250px;
   height: 250px;
   margin: 40px;
   background-size: 100% 100%;
}

.gift-icon{
   background-image: url('../img/gift.svg');
}

.shield-icon{
   background-image: url('../img/shield.svg');
}

.giveaway__main-content{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}