#personal-page .personal-page__header, #personal-page .modal-body, #personal-page .modal-footer{
   background-color: rgb(19, 19, 19);
   color: white;
}

#personal-page .personal-page__header{
   display: flex;
   align-items: center;
   height: 20px;
   border-bottom: 1px solid rgb(27, 27, 27);
   color: rgb(161, 161, 161);
}

#personal-page .modal-footer{
   border-top: 1px solid rgb(27, 27, 27);
}

#personal-page .personal-page__header span{
   color: white;
}

#personal-page .navbar-nav{
   flex-direction: row;
   justify-content: space-around;
   width: 700px;
}

#personal-page .nav-link.active{
   background-color: #c60000;
   padding-left: 2px;
   padding-right: 2px;
}

#personal-page .nav-link.active:hover{
   background-color: #920000;
   color: white !important;
}

#personal-page .tab-pane{
   margin-top: 10px;
}

.giveaway__main-content .peronal-page__icon{
   width: 250px;
   height: 250px;
   margin: 40px;
   background-size: 100% 100%;
}

.peronal-page__icon{
   width: 250px;
   height: 250px;
   margin: 40px;
   background-size: 100% 100%;
}

.gift-icon{
   background-image: url('../img/gift.svg');
}

.shield-icon{
   background-image: url('../img/shield.svg');
}

.confetti-icon{
   background-image: url('../img/confetti.svg');
}

.key-icon{
   background-image: url('../img/key.svg');
}

.check-icon{
   background-image: url('../img/tick.svg');
}

.log-icon{
   background-image: url('../img/logs.svg');
}

.tasks-icon{
   background-image: url('../img/tasks-done.svg');
}

.shield-icon--back{
   background-image: 
      linear-gradient(rgba(27,27,27,0.6), rgba(27,27,27,0.6)),
      url('../img/shield.svg');
   background-repeat: no-repeat;
   background-size: 80% 80%;
   background-position: 50% 50%;
}

#moder-form input.form-control, #moder-form textarea.form-control{
   background-color: rgba(255,255,255, 0.9) !important;
}

#moder-form .text-muted{
   color: white !important;
}

.peronal-page__contest-icon{
   width: 200px;
   height: 200px;
   border-radius: 100%;
   background-size: 100% 100%;
}

.giveaway__main-content{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

.profile__avatar{
   width: 200px;
   height: 200px;
   background-size: 100% 100%;
   border-radius: 100%;
}

.profile__feature{
   width: 400px;
   margin-left: 35% !important;
}

.profile__nickname{
   width: 400px;
   margin-left: 34.5% !important;
}

.profile__feature--point{
   width: 400px;
   margin-left: 30% !important;
}

.giveaway__contest h1{
   padding: 10px;
}

#contests-moder .progress{
   background-color: #e9ecef2e;
   height: 25px;
   color: black !important;
   font-family: 'Roboto', sans-serif;
   font-size: 1.1em;
}

.logs__container{
   overflow: auto;
   max-height: 500px !important;
}

.logs__container::-webkit-scrollbar {
   width: 7px !important;
}
.logs__container::-webkit-scrollbar-track {
   background: transparent !important;
}
.logs__container::-webkit-scrollbar-thumb {
   background-color: #7a7a7a !important; 
   border-radius: 20px !important; 
   max-height: 50px !important;
}

.row--reported{
   background-color: #d606063b;
}

.report__icon{
   color: #c60000;;
}

.report__icon:hover{
   cursor: pointer;
}

.log-row{
   padding: 2px;
   border-bottom: 0.3px solid #4b4b4b;
}

.log-report__submit{
   width: 120px;
}

.help__body{
   height: 700px !important;
   overflow: auto;
}

.help__body::-webkit-scrollbar {
   width: 7px !important;
}
.help__body::-webkit-scrollbar-track {
   background: transparent !important;
}
.help__body::-webkit-scrollbar-thumb {
   background-color: #7a7a7a !important; 
   border-radius: 20px !important; 
   max-height: 50px !important;
}

.help__command{
   font-weight: 600 !important;
   color: rgb(163, 194, 235);
}

.help__group{
   border-radius: 100%;
   display: inline-flex;
   justify-content: center;
   align-items: center;
   width: 25px !important;
}

.help__group--a{
   background-color: rgb(201, 68, 68);
}

.help__group--b{
   background-color: rgb(83, 201, 68);
}

.help__group--c{
   background-color: rgb(55, 102, 204);
}

.help__group--d{
   background-color: rgb(92, 92, 92);
}

.help__target{
   font-weight: 600 !important;
   color: rgb(252, 252, 182);
}

.log__nickname{
   color: #5ca6e2 !important;
}

.log__steam-id{
   color: #d63a3a;
}

.log__command{
   color: #ece362;
}

.help__param{
   font-weight: 300;
   font-family: 'Montserrat', sans-serif;
}
