@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300&display=swap');

.previlegies-section__container{
   min-width: 100%;
   min-height: 600px;
   height: fit-content;
   justify-content: space-around !important;
   align-items: space-around !important;
   background-color: #181818;
}

.flash{
   position: absolute;
   z-index: 1002;
   background-color: silver;
   width: 50px;
   height: 100%;
   clip-path: polygon(0 0, 30% 0, 50% 100%, 20% 100%);
   width: 117px;
   height: 450px;
}

.previlegies-section__container .card-deck{
   height: fit-content;
   justify-content: space-around;
   padding-bottom: 14px;
}

.previlegies-section__container .card{
   max-width: 400px !important;
   min-height: 500px !important;
}

.priviliege{
   width: 368px;
   height: 406px;
   background-size: 110% 100%;
   background-position-x: center;
   border-radius: 10px;
   transition-duration: 0.3s;
   display: flex;
   margin-left: 95px;
   margin-top: 33px;
   align-items: flex-end;
}

.darken{
   width: 100%;
   height: 120px;
   display: flex;
   justify-content: center;
   align-items: center;
   background: rgba(0, 0, 0, 0.712);
   background: -moz-linear-gradient(bottom, rgba(0, 0, 0, 0.712) 0%, rgba(0, 0, 0, 0.712) 52%, rgba(2,29,166,0) 100%);
   background: -webkit-gradient(left bottom, left bottom, color-stop(0%, rgba(0, 0, 0, 0.712)), color-stop(52%, rgba(0, 0, 0, 0.712)), color-stop(100%, rgba(2,29,166,0)));
   background: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.712) 0%, rgba(0, 0, 0, 0.712) 52%, rgba(2,29,166,0) 100%);
   background: -o-linear-gradient(bottom, rgba(0, 0, 0, 0.712) 0%, rgba(0, 0, 0, 0.712) 52%, rgba(2,29,166,0) 100%);
   background: -ms-linear-gradient(bottom, rgba(0, 0, 0, 0.712) 0%, rgba(0, 0, 0, 0.712) 52%, rgba(2,29,166,0) 100%);
   background: linear-gradient(to top, rgba(0, 0, 0, 0.712) 0%, rgba(0, 0, 0, 0.712) 52%, rgba(2,29,166,0) 100%);
   filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#021da6', endColorstr='#021da6', GradientType=0 );
}

.buy-priv{
   border: none !important;
}

.buy_buttons{
   width: fit-content;
   margin-top: 50px !important;
   /* border-width: 3px;
  border-style: solid;
  border-image: 
    linear-gradient(
      to left, 
      #28a745, 
      rgba(0, 0, 0, 0)
    ) 1 100%; */
    border: 1pt solid;
    border-radius: 20px !important;
    border-image-slice: 1;
    border-width: 1px;
    border-image-source: linear-gradient(to left, #28a745, #dc3545);
   display: flex;
   flex-direction: row;
   width: fit-content;
   height: fit-content;
   transition-duration: 0.2s;
}

.buy_buttons:hover{
   border: none;
}

.priviliege:hover{
   background-size: 130% 120%;
   background-position-y: center;
}

.previlegies-section__container h1{
   padding: 10px;
   color: white;
}

.previlegies-section__container .previlegies-card__top{
   width: 100%;
   height: 100px;
   background-size: 100% 100%;
   display: flex;
   justify-content: center;
   align-items: center;
}

.previlegies-section__container .card__top--1{
   background-image: 
   linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),
   url('../img/card-bg.png');
   background-size: 100% 120%;
}

.previlegies-card__top h2{
   text-transform: uppercase;
   font-family: 'Roboto', sans-serif;
   font-weight: 500;
   font-size: 3em;
   color: white !important;
}

.previlegies-section__container .card-text{
   text-align: left;
}

.previlegies-card__text{
   font-family: 'Montserrat', sans-serif;
   font-weight: 300 !important;
   line-height: 90%;
   font-size: 1.5em;
}

.previlegies-section__container .card-body{
   overflow: auto;
   max-height: 350px !important;
}

.card-body::-webkit-scrollbar {
   width: 7px !important;
}
.card-body::-webkit-scrollbar-track {
   background: transparent !important;
}
.card-body::-webkit-scrollbar-thumb {
   background-color: #7a7a7a !important; 
   border-radius: 20px !important; 
   max-height: 50px !important;
}

.feature__expl{
   font-size: 0.3em;
}

.feature__icon{
   color: #c60000;
}

.cardToggle{
   width: 600px !important;
}

#switcher .btn-primary, #switcher .btn-danger{
   border-radius: 20px !important;
}

#switcher .btn-light{
   border-radius: 50%;
   width: 35px;
}

#switcher{
   border-top: none;
}

.instruction__form{
   width: 570px;
   height: 350px;
   background-image: url('../img/instruction.png');
   background-size: 100% 100%;
}

/* .instruction__buy-btn{
   width: 180px;
   height: 50px;
   background-image: url('../img/buy_btn.png');
   background-size: 100% 100%;
} */